<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    <title>Maps!</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mapmaker.css')}}">
    <script src='../static/bootstrap.js'>
    <script src="{{url_for('static', filename='mapmaker.js')}}", type="module"></script>
</head>

<body>
    <nav>
        <div class='flex justify-right'>
            <ul class='flex pl-10'>
                <li id='download' class='link' title='Download the current image'>Download</li>
            </ul>
        </div>
    </nav>
    <header class='near-white'>
        MapMaker
    </header>
    <div id="container" class="dataview">
        <div id="sidebar" class='near-white'>
            <h4>
                Options
                <img src="static/images/400px-Icon-round-Question_mark.svg.png" id="infothumb" title="Mouseover each option for more information">
            </h4>
            <ul id="options">
                <li>
                    <select name="algorithm" id="algorithm" autocomplete="off">
                    <option value="DiamondSquare">DiamondSquare</option>
                    <option value="DiamondSquareBorderless">DiamondSquareBorderless</option>
                    </select>
                </li>
                <li id='width'>
                    <div class="tooltip">Width
                        <span class="tooltiptext">
                            <div>
                            Map Width in Pixels
                            </div>
                        </span>
                    </div>
                    <input id="widthbox" class="width70 fl-right" type="text" name="widthbox">
                </li>
                <li id='height'>
                    <div class="tooltip">Height
                        <span class="tooltiptext">
                            <div>
                            Map Height in Pixels
                            </div>
                        </span>
                    </div>
                    <input id="heightbox" class="width70 fl-right" type="text" name="heightbox" placeholder="height in pixels">
                </li>
                <li id='chaos'>
                    <div class="tooltip">Chaos
                        <span class="tooltiptext">
                            <div>
                                Approximately represents the macro-level topographical variation of the map. <br>
                                Typical values: 0 - 1 <br>
                                Default value: 0.5
                            </div>
                        </span>
                    </div>
                    <input id="chaosbox" class="width70 fl-right" type="text" name="chaosbox">
                </li>
                <li id='damping'>
                    <div class="tooltip">Damping
                        <span class="tooltiptext">
                            <div>
                                Approximately represents the micro-level topographical variation of the map. <br>
                                Typical values: 0 - 1 <br>
                                Default value: 0.8
                            </div>
                        </span>
                    </div>
                    <input id="dampingbox" class="width70 fl-right" type="text" name="dampingbox">
                </li>
                <li id='blocksize'>
                    <div class="tooltip">Blocksize
                        <span class="tooltiptext">
                            <div>
                                The width/height in pixels of a region of the map.<br>
                                This should be a value less than the minimum of the width and height of the map.
                            </div>
                        </span>
                    </div>
                    <input id="blockbox" class="width70 fl-right" type="text" name="blockbox">
                </li>
                <li id='seed'>
                    <div class="tooltip">Seed
                        <span class="tooltiptext">
                            <div>
                                Integer value used to seed the map generation.<br>
                                A map can be refined by changing other settings and leaving the seed fixed.<br>
                                If this field is blank or set to 0 a random seed will be used instead.
                            </div>
                        </span>
                    </div>
                    <input id="seedbox" class="width70 fl-right" type="number" name="seedbox" min="0" max"4294967295">
                </li>
                <li></li>
                <li>
                    <select name="coloring" id="coloring" autocomplete="off">
                    <option value="1">BlueGreen</option>
                    <option value="2">Rainbow</option>
                    <option value="3">Topographical</option>
                    <option value="4">Binary</option>
                    </select>
                </li>

                <span class="BlueGreen Color Topographical">
                <li>
                    <div class="tooltip">Water
                        <span class="tooltiptext">
                            <div>
                                Water level of the map as a percentage.<br>
                                e.g a value of 70 will result in a map that is 70% water
                            </div>
                        </span>
                    </div>
                    <span id="waterRangeValue" class="float-right">0.5</span>
                    <input type="range" class="fl-right" oninput="waterRangeValue.innerText=this.value" min="0" max="1" value="0.5" step="0.01" class="slider" id="waterRange">
                </li>
                </span>
                <li>
                    <div class="tooltip">Dark
                        <span class="tooltiptext">
                            <div>
                                Darkness
                            </div>
                        </span>
                    </div>
                    <span id="darkRangeValue" class="float-right">1.0</span>
                    <input type="range" class="fl-right" oninput="darkRangeValue.innerText=this.value" min="0" max="1" value="1.0" step="0.01" class="slider" id="darkRange">
                </li>
                <li id='generate'>
                    <button id="makebutton">Make</button>
                </li>

                <li></li>
                <li>
                    <input id="savefilename" class="fl-left width70" type="text" placeholder="Save Map to File"></input>
                    <button id="save" class="fl-right">Save</button>
                </li>
                <li>
                    <input id="loadfilename" class="fl-left width70" type="text" placeholder="Load Map from File"></input>
                    <button id="load" class="fl-right">Load</button>
                </li>
            </ul>
        </div>
        <button id="options-collapse"></button>
        <div id="mainpage">
            <button id="zoomin" title="Zoomin">+</button>
            <button id="zoomout" title="Zoomout">-</button>
            <button id="reset" title="Reset image location">o</button>
            <div id="map">
                <canvas id="map-canvas"></canvas>
            </div>
            <!-- <div id="map" width="95%" height="80%">
                <canvas id="map-canvas" width="95%" height="80%"></canvas> -->
            </div>
        </div>
    </div>
</body></html>
