<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    <title>Maps!</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mapmaker.css')}}">
    <script src='../static/bootstrap.js'>
    <script src="{{url_for('static', filename='mapmaker.js')}}", type="module"></script>
</head>

<body>
    <nav>
        <div class='flex justify-right'>
            <ul class='flex pl-10'>
                <li id='download' class='link' title='Download the current image'>Download</li>
            </ul>
        </div>
    </nav>
    <header class='near-white'>
        MapMaker
    </header>
    <div id="container" class="dataview">
        <div id="sidebar" class='near-white'>
            <h4>Options</h4>
            <ul id="options">
                <li>
                    <select name="algorithm" id="algorithm" autocomplete="off">
                    <option value="DiamondSquare">DiamondSquare</option>
                    <option value="DiamondSquareBorderless">DiamondSquareBorderless</option>
                    </select>
                </li>
                <li id='width'>
                    Width:
                    <input id="widthbox" class="width70" type="text" name="widthbox" placeholder="width in pixels">
                </li>
                <li id='height'>
                    Height:
                    <input id="heightbox" class="width70" type="text" name="heightbox" placeholder="height in pixels">
                </li>
                <li id='chaos'>
                    Chaos:
                    <input id="chaosbox" class="width70" type="text" name="chaosbox" placeholder="spikiness, usually 0 - 1">
                </li>
                <li id='damping'>
                    Damping:
                    <input id="dampingbox" class="width70" type="text" name="dampingbox" placeholder="amount to scale chaos per round">
                </li>
                <li id='blocksize'>
                    Blocksize:
                    <input id="blockbox" class="width70" type="text" name="blockbox">
                </li>
                <li></li>

                <li>
                    <select name="coloring" id="coloring" autocomplete="off">
                    <option value="BlueGreen">BlueGreen</option>
                    <option value="Rainbow">Rainbow</option>
                    <option value="Topographical">Topographical</option>
                    </select>
                </li>

                <span class="BlueGreen Color Topographical">
                <li>
                    Water: 
                    <span id="waterRangeValue" class="float-right">0.5</span>
                    <input type="range" oninput="waterRangeValue.innerText=this.value" min="0" max="1" value="0.5" step="0.01" class="slider" id="waterRange">
                    <!-- Water:
                    <input id="waterbox" type="text" name="waterbox" placeholder="%water on map"> -->
                </li>
                </span>

                <li id='generate'>
                    <button id="makebutton">Make</button>
                </li>

                <li></li>
                <li>
                    <label for="savefilename">File:</label>
                    <input id="savefilename" type="text" placeholder="myfile.txt"></input>
                </li>
                <li>
                    <button id="save">Save</button>
                </li>
                <li>
                    <label for="loadfilename">File:</label>
                    <input id="loadfilename" type="text" placeholder="myfile.txt"></input>
                </li>
                <li>
                    <button id="load">Load</button>
                </li>
            </ul>
        </div>
        <button id="options-collapse"></button>
        <div id="mainpage">
            <button id="zoomin" title="Zoomin">+</button>
            <button id="zoomout" title="Zoomout">-</button>
            <button id="reset" title="Reset image location">o</button>
            <div id="map">
                <canvas id="map-canvas"></canvas>
            </div>
            <!-- <div id="map" width="95%" height="80%">
                <canvas id="map-canvas" width="95%" height="80%"></canvas> -->
            </div>
        </div>
    </div>
</body></html>
